{% extends "base.html" %}

{% block content %}
    <section class="faq-promo">
        <p class="small-title">
            F.A.Q.
        </p>
        <h1 class="main-title faq-title">
            Here are some common questions about our bot
        </h1>
    </section>
    <section class="questions-block">
        <ul class="questions-list">
            <li class="question">Template</li>
            <li class="question">Template</li>
            <li class="question">Template</li>
            <li class="question">Template</li>
            <li class="question">Template</li>
        </ul>
    </section>
{% endblock %}
