{% extends "base.html" %}

{% block content %}
<!-- <div style="text-align:center" class="starter-template">
    <h2>Наш чат-бот ответит на все ваши вопросы!</h2>
    <h3>Опишите проблему и чат-бот подскажет вам, что делать дальше</h3>
</div> -->
<section class="promo">
    <div class="left-column">
        <h1 class="main-title">
            Interactive chat-bot
        </h1>
        <p class="details">
            The bot receives user messages, analyzes them and issues a response that matches the user's request.
        </p>
        <a class="btn-link" href="{% url 'chat:chat' %}">Let's go!</a>
    </div>
</section>
{% endblock %}
